.navbaren {
    background-color: #f8f9fa;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.container-fluid {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-image {
    display: inline-block;
    vertical-align: middle;
}

.brand-name {
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.navbar-toggler {
    border: none;
    background: none;
}

.navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #000;
}

.collapse.navbar-collapse {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.custom-navbar {
    display: flex;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
}

.nav-link.active {
    font-weight: bold;
}

.search-form {
    display: flex;
    margin-right: 1rem;
}

.search-input {
    border: 1px solid #cd2d2d;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}